/* Begin stylesheet
---------------------------------------- */
html, body {
	height: 100%;
}
body {
	background-color: #FFF;
	font: 13px/1.5 Helvetica, Arial, sans-serif;
}

a:link, a:visited {
	color: #0069D6;
	text-decoration: none;
}
a:hover, a:active {
	color: #00438A;
	text-decoration: underline;
}

h1, h2 {
	font-family: 'Segoe UI', Tahoma, Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin: 0;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 18px;
}

ul.imglist, ul.movie {
	margin: 12px 0;
	text-align: center;
	padding: 0;
}
ul.imglist li {
	display: inline;
}
ul.movie {
	font-size: x-small;
}
ul.movie li {
	display: block;
}

.thumb_small {
	height: 180px;
}
.thumb_smaller {
	height: 140px;
}
.thumb_xsmall {
	height: 100px;
}

/*#wrap {
	width: 940px;
	margin: 0 auto;
	padding: 20px;
}*/
#wrap {
	min-height: 100%;
	margin-bottom: -61px;
}
#content {
	max-width: 940px;
	margin: 0 auto;
	padding: 20px 20px 81px;
}

#footer-wrap {
	border-top: 1px solid #E5E5E5;
	background-color: #F5F5F5;
	color: #777;
	min-width: 320px;
	height: 60px;
}
#footer {
	max-width: 940px;
	margin: 0 auto;
	padding: 20px;
}

#footer .right-float {
	float: right;
}

#page-head .dropdown-toggle {
	height: 45px;
	cursor: pointer;
	display: inline-block;
}
#page-head .dropdown-toggle h1 {
	height: 45px;
}

.caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #888;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
	position: relative;
	top: 50%;
	margin-top: -3px !important;
	margin-left: 10px !important;
}

.dropdown-menu:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  left: 9px;
  position: absolute;
  top: -7px;
}
.dropdown-menu:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 10px;
  position: absolute;
  top: -6px;
}

#pagination {
	overflow: hidden;
	padding: 5px;
	margin: 20px 0 0;
	font-size: 16px;
	list-style: none;
	color: #777;
}
#pagination li {
	width: 50%;
	float: left;
	text-align: center;
}

h1 {
	display: none;
}
#page-head h1 {
	display: block;
}
